# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Вирт. окружения
env/
venv/
.venv/

# IDE и редакторы
.idea/
.vscode/

# Логи и кеши (парсер)
logs/
cache/

# Файлы БД
*.db
*.sqlite3
mai_schedule.db

# OAuth и токены
credentials.json
token.json
*.pickle

# Файлы окружения
.env

# Сборка и дистрибутивы
build/
dist/
*.egg-info/

# Системные
.DS_Store
Thumbs.db
